<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color = "primary">
    <ion-title style="text-align: center">Login</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-list>
    
      <ion-item>
        <ion-label stacked>Username</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
    
      <ion-item>
        <ion-label stacked>Password</ion-label>
        <ion-input type="password"></ion-input>
      </ion-item>
    
    </ion-list>
</ion-content>
