<ion-tabs color = "primary">
  <ion-tab [root]="tab1Root" tabTitle="Despesas" tabIcon="paper" tabBadgeStyle="red"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Livro Caixa" tabIcon="ios-paper-outline"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Configurações" tabIcon="ios-settings"></ion-tab>
</ion-tabs>
