<ion-header>
    <ion-navbar color = "primary">
      <ion-title style="text-align: center">Livo Caixa</ion-title>
    </ion-navbar>
  </ion-header>
  <ion-content padding>
  
    <h2>Cadastro de despesas mensais</h2>
    <ion-card>  
      <ion-card-content>
        <p>Descrição</p>
        <ion-list>

            <ion-item>
              <ion-label stacked>Nome</ion-label>
              <ion-input type="text"></ion-input>
            </ion-item>
                  
            <ion-item>
              <ion-label stacked>Descrição</ion-label>
              <ion-input type="text"></ion-input>
            </ion-item>

            <ion-list>
                <ion-item>
                  <ion-label>Icone</ion-label>
                  <ion-select [(ngModel)]="gaming">
                    <ion-option value="nes"><ion-icon name="create">teste</ion-icon><i class = "ícone ion-social-euro-outline"> </i></ion-option>
                    <ion-option value="n64">Nintendo64</ion-option>
                    <ion-option value="ps">PlayStation</ion-option>
                    <ion-option value="genesis">Sega Genesis</ion-option>
                    <ion-option value="saturn">Sega Saturn</ion-option>
                    <ion-option value="snes">SNES</ion-option>
                  </ion-select>
                </ion-item>
              </ion-list>
              
          
          </ion-list>
      </ion-card-content>
      <ion-row>
         <ion-col center text-center>
             <button ion-button icon-only>
               <ion-icon name="create"></ion-icon>
             </button>
        </ion-col>
        <ion-col center text-center>
            <button ion-button icon-only>
                <ion-icon name="trash"></ion-icon>
            </button>
        </ion-col>
      </ion-row>
  
    </ion-card>
  
    <ion-fab right bottom>
        <button ion-fab color="blue"><ion-icon name="add"></ion-icon></button>
    </ion-fab>
  
  </ion-content>
  