<ion-header>
  <ion-navbar color = "primary">
    <ion-title style="text-align: center">Despesas</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-icon name="ios-water-outline" item-start></ion-icon>
        <h2>Conta de agua</h2>
        <h3 style="color:red">-7230,40</h3>
    </ion-item>
    <ion-item>
      <ion-icon name="ios-flash-outline" item-start></ion-icon>
       <h2>Conta de luz</h2>
       <h3 style="color:red">-3470,69</h3>
        
    </ion-item>
    <ion-item>
      <ion-icon name="ios-build-outline" item-start></ion-icon>
        <h2>Manutenção do Elevador</h2>
        <h3 style="color:red">-220,20</h3>
    </ion-item>
    <ion-item>
      <ion-icon name="ios-people-outline" item-start></ion-icon>
      <h2>Despesa  com pessoal</h2>
      <h3 style="color:red">-1250,60</h3>
    </ion-item>
    <ion-item>
      <ion-icon name="ios-cash-outline" item-start></ion-icon>
      <h2>Fundo de reserva</h2>
      <h3 (click)="matheus2()" style="color:black">{{matheus}}</h3>
    </ion-item>
  </ion-list>
  
</ion-content>
